
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Change Password</h4>
                    </div>
                    <p id="pmsg">@ViewBag.Message</p>
                    <div class="card-body">
                        <form action="/User/ChangePassword" method="post">
                            <div class="row">
                                <div class="col-md-12 pr-1">
                                    <div class="form-group">
                                        <label>Current Password</label>
                                        <input type="text" class="form-control" placeholder="Current Password" name="Pass">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pr-1">
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="text" class="form-control" placeholder="New Password" name="NewPass">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pr-1">
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="text" class="form-control" placeholder="Confirm Password" name="ConfNewPass">
                                    </div>
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-info btn-fill pull-right">Change Password</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

