
@{
    ViewBag.Title = "SubmitAssignment";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" style="min-height:450px;background-color:lightblue;padding-top:20px;padding-bottom:20px;">
        <h3 class="text-center"><u>Submit Assignment</u></h3>
        @using (Html.BeginForm("SubmitAssignment", "User", FormMethod.Post, new {enctype="multipart/form-data"}))
            {
                @Html.TextBox("Title_of_File", null, new {@class="form-control",placeholder="Title of Assignment"})
            @Html.TextArea("Description", null, new {@class="form-control",placeholder="Description of this assignment",style="height:80px;"})
            <span class="form-control">
                Select Assignment File:
                <input type="file" id="AssignmentFile" name="AssignmentFile"/>
            </span>
            <div class="row">
                <div class="col-sm-6">
                    <input type="submit" value="Submit" id="BtnSubmit" class="btn btn-primary btn-block bg-primary text-white"/>
                </div>
                <div class="col-sm-6">
                    <input type="reset" value="Clear All" id="BtnClear" class="btn btn-danger btn-block bg-danger text-white" />
                </div>
            </div>
            }
        <p id="pmsg" class="text-center h5">@ViewBag.Message</p>
    </div>
    <div class="col-sm-3"></div>
</div>

